@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2');
  font-weight: 400 785;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
