.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-text);
  background-image: var(--page-bg);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: var(--header-width);
  height: var(--header-height);
  margin: 98px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--main-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-family: var(--font-accent);
  font-size: var(--header-title-font);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: var(--header-subtitle-font);
  text-transform: uppercase;
}

.card {
  width: var(--header-width);
  margin: 0 auto 50px auto;
  background-color: var(--main-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  margin: 5px 10px;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-title);
  font-size: 18px;
}

.card__image-wrapper {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
  }
}

@supports not (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    text-shadow: -1px -1px 0 var(--label-stroke-color),
      -1px 1px 0 var(--label-stroke-color), 1px -1px 0 var(--label-stroke-color),
      1px 1px 0 var(--label-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 26px;
}

.card__text {
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-text);
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  margin: 25px 25px;
}

.card__icon-button {
  background: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  max-height: 38px;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  padding: 9px;
  min-width: 130px;
  height: 38px;
}

.button {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  background: var(--main-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}

.card__save-icon,
.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--main-color);
  fill: var(--main-color);
  shape-rendering: crispEdges;
}

.section_save-button {
  display: flex;
  justify-content: center;
}

.save-memory-button {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  gap: 8px;
  padding: 11px 18px;
  margin-block-end: 100px;
  cursor: pointer;
  width: 335px;
}

.modal {
  padding: 0;
}

.modal__text {
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.modal__icon {
  shape-rendering: crispEdges;
}

.modal[open] {
  display: block;
  position: fixed;
  inset: 0;
  margin: auto;
  width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
}

.modal[open] .modal__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin: 30px clamp(27px, -2vw + 43px, 37px);
  align-items: center;
}

.dialog__button {
  display: flex;
  justify-content: center;
  padding: 0 clamp(27px, -2vw + 43px, 37px) 0;
}

.modal__button {
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.brightness {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(1rem);
}

.opacity {
  filter: opacity(0.5);
}

.grayscale {
  filter: grayscale(1);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.multiple__filter {
  filter: blur(2px) saturate(120%) hue-rotate(90deg);
}

.sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .transparent {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.1s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s forwards;
}

@media (width <= 375px) {
  .header {
    margin: 100px auto;
  }

  .save-memory-button {
    flex-direction: column;
    width: 306px;
    padding: 16px 18px;
  }

  .card__image {
    aspect-ratio: auto;
  }

  .card {
    margin: 0 auto 49px auto;
  }

  .card__content {
    margin: 25px;
  }
}
