:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", monospace;
  --accent-color: #000;
  --main-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --weight-text: 410;
  --weight-title: 715;
  --page-bg: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --header-width: clamp(23.438rem, 30.704vw + 16.241rem, 43.875rem);
  --header-title-font: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  --header-subtitle-font: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --label-stroke-color: #fff;
}
